.img1{
    width: 300px;
    height: 300px;
    border-radius: 30%;
}

.but1{
    color: white;
    background-color: red;
    border: red solid 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}